body {
    background: url(images/back.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.gender {
    padding: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media  screen and (max-width: 767px) {
    
}
@media  screen and (max-width: 479px) {
    
}